/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.login-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* Left section styles */
.left-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-section h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
    flex-direction: column;
    width: 300px;
}

.input-field {
    margin-bottom: 10px;
    padding: 12px 20px; /* Increase padding for a larger input field */
    font-size: 1rem;  /* Increase font size */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;       /* Ensure the input field spans the available width */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.login-button {
  background-color: #3a3df1;
  color: white;
  font-size: 1rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #2c2fc0;
}

.forgot-password {
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: none;
  margin-top: 5px;
  text-align: center;
}

.divider {
  text-align: center;
  color: #777;
  margin: 10px 0;
  font-size: 0.9rem;
}

.social-buttons {
  display: flex;
  gap: 10px;
}

.social-button {
  flex: 1;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.left-section p {
  text-align: center;
  font-size: 14px;
  color: #666;
  line-height: 1.2; /* Adjust this value to reduce spacing */
  margin: 10px 0;
}

.left-section a {
  color: #3a3df1;
  text-decoration: none;
  font-weight: bold;
}

.left-section a:hover {
  text-decoration: underline;
}
/* Right section styles */
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.right-image {
  max-width: 61%;
  height: auto;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
  }

  .right-section {
    display: none; /* Hide the image on smaller screens */
  }

  .left-section {
    width: 100%;
    padding: 20px;
  }
}
